doctype html
html
  head
    title What should I play on Steam?
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-dark
    block content
