body {
  background-color: black;
  color: white;
  padding: 50px;
  font-family: 'Lora', sans-serif;
}

a {
  color: #00B7FF;
}

#game-div {
  color: white;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#instructions {
  background-color: rgb(233, 4, 4);
  border-radius: 5px;
  border-color: white;
}

ol li{
  list-style-type: none;
}