  body {
    background-color: #32312F;
    color: white;
    padding: 10px;
    font-family: 'digitalix'
  }

  a {
    color: green;
  }

  #game-div {
    color: white;
    height: 200px;
    width: 50%;
  }

  #main {
    position: relative;
    width: 75%;
    height:100%;
    background-color:rgba(0, 0, 0, .9);
    background-image: url("/images/3px-tile.png");
  }

  #title{
    font-family: 'digitalix'
  }

  @keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-735px, 0, 0);
    }
  }

  @font-face {
    font-family: 'digitalix';
    src: url("/fonts/digitalix.ttf")
  }

  @font-face {
    font-family: 'roboto';
    src: url("/fonts/Roboto-Regular.ttf")
  }

  .sharp { 
    border-radius: 0px;
  }

  input {
    background-color: black;
    color: green;
  }

@media screen and (max-width: 768px) {
  #main {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}
